@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Light Mode Renkleri */
    --color-background: 242 240 239;    /* #F2F0EF */
    --color-text-main: 17 24 39;       /* gray-900 */
    --color-text-muted: 75 85 99;      /* gray-600 */
    --color-card: 242 240 239;         /* gray-50 */
    --color-primary: 99 102 241;       /* indigo-500 */
  }

  .dark {
    /* Dark Mode Renkleri */
    --color-background: 17 24 39;      /* gray-900 */
    --color-text-main: 255 255 255;    /* white */
    --color-text-muted: 156 163 175;   /* gray-400 */
    --color-card: 31 41 55;            /* gray-800 */
    --color-primary: 129 140 248;      /* indigo-400 */
  }
}


html {
  overflow-y: scroll;        /* scrollbar alanı her zaman rezerve edilir */
  scrollbar-gutter: stable;  /* destekleyen tarayıcılarda daha da stabil */
}

body {
  margin: 0;
  overflow-x: hidden;        /* yatay taşma olursa engelle */
}
